@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Space+Mono:wght@400;700&display=swap");

* {
  margin: 0;
}
body {
  font-family: "Manrope";
  background-color: hsl(218, 23%, 16%);
}

main {
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 340px;
  height: auto;
  background-color: hsl(217, 19%, 24%);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.divider {
  background-image: url("./images/pattern-divider-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 30px;
  width: 100%;
  margin: 30px;
}

h5 {
  margin: 25px;
  letter-spacing: 4px;
  color: hsl(150, 100%, 66%);
}

p {
  text-align: center;
  margin: 0px 20px;
  color: hsl(193, 38%, 86%);
  font-size: 28px;
}

#advice-id {
  margin-left: 5px;
}

button {
  height: 70px;
  width: 70px;
  border: none;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  background-image: url("images/icon-dice.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -35px;
  z-index: 1;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 0px 25px hsl(150, 91%, 70%);
  background-color: hsl(150, 91%, 70%);
}

@media (min-width: 1040px) {
  .container {
    width: 500px;
  }
  .divider {
    height: auto;
    background-image: url("./images/pattern-divider-desktop.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 100%;
    margin: 30px;
  }
}
